<div class="contact">
    <div class="about">I live in <span class="highlight">Bangalore</span> and currently work at <a href="https://www.inmobi.com" target="new"><span class="highlight">InMobi.</span></a>
    <div>Also contribute to open source.</div>
    </div>
    <small>Get in touch. I come here often.</small>
    <div class="icons contact--icons">
        <a class="gmail" href="mailto:jigneshhk1992@gmail.com" target="new"><i class="fa fa-2x fa-envelope"></i>
        <a class="twitter" href="https://twitter.com/bitshadow" target="new"><i class="fa fa-2x fa-twitter"></i></a>
        <a class="github" href="https://github.com/bitshadow" target="new"><i class="fa fa-2x fa-github-alt"></i>
        <a class="linkedin" href="https://in.linkedin.com/pub/jignesh-kakadiya/3a/170/523" target="new"><i class="fa fa-2x fa-linkedin-square"></i>
    </div>
</div>
