<div class="projects">
    <article class="list-item projects--item">
        <h3>iconate.js</h3>
    </article>
    <article class="list-item projects--item">
        <h3>Slate</h3>
    </article>
    <article class="list-item projects--item">
        <h3>Scrollpad</h3>
    </article>
    <article class="list-item projects--item">
        <h3>Organizations</h3>
    </article>
    <article class="list-item projects--item">
        <h3>ChitChat</h3>
    </article>
    <article class="list-item projectsitem">
        <h3>Jemblem</h3>
    </article>
</div>
