<div class="projects">
    <article class="list-item projects--item">
        <span>iconate.js</span>
    </article>
    <article class="list-item projects--item">
        <span>Slate</span>
    </article>
    <article class="list-item projects--item">
        <span>Scrollpad</span>
    </article>
    <article class="list-item projects--item">
        <span>Organizations</span>
    </article>
    <article class="list-item projects--item">
        <span>ChitChat</span>
    </article>
    <article class="list-item projectsitem">
        <span>Jemblem</span>
    </article>
</div>
