*,
:before,
:after {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html {
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    overflow: hidden-x;
    text-align: center;
}

body {
    color: rgba(0,0,0,0.54)
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #78CEC5;
}

.container {
    width: 380px;
    margin: 20px auto;
    text-align: center;
}

.projects div {
    padding: 5px;
}

.name div, .name h3 {
    margin: 0 auto;
    cursor: default;
    font-weight: 400;
}

.name div {
    font-size: 50px;
    display: inline-block;
}

.name h3 {
    font-size: 20px;
}

.name {
    margin: 30px 0;
}

.meta--container {
    padding: 20px;
}

.list-item {
    margin: 10px 0;
}

.about {
    margin-bottom: 30px;
}

.icons {
    margin-top: 5px;
}

.highlight {
    font-weight: bold;
}

.icons a {
    margin: 0 10px;
}

.twitter:hover {
    color: #2884A2;
}

.linkedin:hover {
    color: #1D87BD;
}

.github:hover {
    color: #333;
}

.gmail:hover {
    color: #E24A3F;
}

.logo {
    background: url('../img/jk.png');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
}


[role="tabpanel"] {
    transition: none;
}